.chatMainContainer {
  width: 100%;
  position: relative;
}

.chatGeneralContainer {
  display: flex;
  flex-direction: column;
  padding: 40px 30px 25px;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 900px;
  position: relative;
}

.chatPromptContainer {
  display: flex;
  margin-bottom: 26px;
  justify-content: center;
  align-self: center;
  flex-direction: row;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}


.chatBgContainer {
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.titleAiContainer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 64px;
}

.iconTitle {
  margin-right: 14px;
}

.bgImg {
  justify-content: center;
  align-items: center;
}

.chatButtonsContainer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buttonsColumn {
  align-items: center;
  display: flex;
  column-gap: 20px;
}

.buttonAddChat {
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: 0.3s;

  svg {
    transition: 0.3s;
    stroke: #ffffff;
  }

  &:hover {
    background-color: var(--primary-hover);
  }
}

.iconRegenerate {
  margin-left: 15px;
}

.iconAiMagic {
  margin-top: -32px;
  margin-left: 15px;
}

.confirmationRename {
  opacity: 0;
  flex-shrink: 0;
  display: flex;
  column-gap: 5px;
  align-items: center;
  margin-left: auto;
  transition: 0.3s;

  svg {
    stroke: var(--bg-default);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      stroke: var(--text-primary);
    }
  }

  &.edited {
    opacity: 1;
  }
}

.toastContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toasterDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.toasterSpan {
  font-family: 'AeonikMedium', serif;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.iconHeart {
  align-self: center;
  margin-left: 8px;
}