:root {
  // fonts
  --font-family-main: 'AeonikMedium', serif;
  --font-family-bold: 'AeonikBold', serif;

  // colors
  --primary-color: #6129ff;
  --primary-hover: #480fea;
  --disabled: #aeaeae;

  // components backgrounds
  --theme-switcher-bg-primary: #252836;
  --theme-switcher-bg-secondary: #363c4a;
  --theme-switcher-bg-hover-dark: #1a1c25;
  --theme-switcher-bg-hover-light: #515a6e;
  --bg-default: #828592;
}
