.promptAiField {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 81px;
  width: 100%;
  height: 100%;
  background: var(--bg-primary);
  color: var(--text-conversation);
  border-radius: 8px;
  padding: 15px;
  overflow-x: auto;
  cursor: text;
  font-family: var(--font-family-main);
  font-weight: 500;
  line-height: 22px;

  .markdown {
    .codeWrapper {
    }
  }
}

.promptContainerHeader {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 15px;
  z-index: 2;
}

.promptText {
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-conversation);
  margin: 14px 18px;
  outline: none;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.placeholderText {
  font-family: var(--font-family-bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: var(--text-primary);
  width: 100%;
  display: block;
}

.fieldContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.promptField {
  min-height: 81px;
  height: 100%;
  background: var(--bg-primary);
  color: var(--text-conversation);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 50px 15px 15px;
  overflow-x: auto;
  cursor: text;
  font-family: var(--font-family-main);
  font-weight: 500;
  line-height: 22px;
  width: 100%;
  z-index: 1;
  white-space: pre-wrap;
  outline: none;
  overflow-wrap: anywhere !important;

  &:focus {
    border: 1px solid var(--primary-color);
  }

  .codeWrapper {
    pre {
      color: #ffffff;
      background: var(--bg-secondary);
      border-radius: 0 0 8px 8px;
      padding: 15px;
      overflow-x: auto;

      code {
        background: var(--bg-secondary);
        border-radius: 8px;

        span {
          background: transparent;
        }
      }
    }

    .codeHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #515a6e !important;
      border-radius: 8px 8px 0 0;
      padding: 10px 15px;
      color: var(--text-secondary);
      margin: 0;

      & > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & > svg {
        flex-shrink: 0;
        margin-left: 20px;
      }

      * {
        margin: 0;
      }
    }

    .copyIcon {
      cursor: pointer;
      stroke: var(--text-secondary);
      margin: 0;
    }
  }

  * {
    white-space: pre-wrap;
    margin-bottom: 10px;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.promptContainer {
  position: relative;
  display: flex;
  column-gap: 15px;
  width: 100%;

  & > :first-child {
    flex-shrink: 0;
  }
}

.iconDelete {
  cursor: pointer;
  transition: 0.3s;
  stroke: var(--text-secondary);
  z-index: 1;

  &.iconDeleteDisabled {
    cursor: default;

    &:hover {
      stroke: var(--text-secondary);
    }
  }

  &:hover {
    stroke: var(--text-primary);
  }
}

.inlineCode {
  color: var(--inline-code);
  font-family: var(--font-family-extra);
  font-weight: 900;
}
