.buttonWrapper.button {
  padding: 8.5px 30px;
  transition: 0.3s;
  font-family: var(--font-family-bold);
  font-weight: 700;
  font-size: 16px;
  text-transform: none;
  border-radius: 8px;

  svg {
    margin-left: 7px;
  }

  &.contained {
    background-color: var(--primary-color);
    color: #ffffff;
    min-width: 150px;

    svg {
      stroke: #ffffff;
    }

    &:disabled {
      background-color: var(--bg-btn-disabled);
      color: var(--text-secondary);

      svg {
        stroke: var(--text-secondary);
      }
    }

    &:hover {
      background-color: var(--primary-hover);
    }
  }

  &.outlined {
    min-width: 150px;
    border: 1px solid var(--text-secondary);
    color: var(--text-primary);

    &:disabled {
      border-color: var(--bg-btn-disabled);
      color: var(--bg-btn-disabled);

      svg {
        stroke: var(--bg-btn-disabled);
      }
    }

    &:hover {
      color: var(--btn-outlined-hover);
      border-color: var(--btn-outlined-hover);
      background-color: transparent;
    }

    svg {
      stroke: var(--text-primary);
    }
  }

  &.text {
    color: var(--text-primary);
    padding: 3px;
    font-family: var(--font-family-main);
    font-weight: 500;
    border-radius: 8px;

    &:disabled {
      color: var(--text-secondary);
    }

    &:hover {
      border: 0;
      background-color: var(--bg-primary);
    }
  }
}
