.buttonWrapper.button {
  padding-top: 13px;
  padding-bottom: 13px;
  transition: 0.3s;
  font-family: var(--font-family-bold);
  font-weight: 700;
  font-size: 16px;
  text-transform: none;
  border-radius: 8px;
  min-width: 264px;
  height: 45px;

  &.contained {
    background-color: #6129ff;
    color: #ffffff;

    &:hover {
      background-color: #480fea;
    }
  }

  &.disabled {
    background-color: #363c4a;
    color: #828592;
    pointer-events: none;
  }

  &.text {
    padding: 3px;
    font-family: var(--font-family-bold);
    font-weight: 700;
    border-radius: 8px;

    &:disabled {
      color: #828592;
    }

    &:hover {
      border: 0;
      background-color: #252836;
    }
  }
}
