.appDarkTheme {
  // colors
  --bg-color-main: #191824;
  --text-primary: #ffffff;
  --text-secondary: #828592;
  --text-disabled: #828592;
  --btn-outlined-hover: #ffffff;

  // components backgrounds
  --bg-primary: #252836;
  --bg-secondary: #363c4a;
  --bg-btn-disabled: #363c4a;
  --bg-slider-rail: #949495;

  // border
  --border-primary: #2E3036;
}
