.appLightTheme {
  // colors
  --bg-color-main: #ffffff;
  --text-primary: #000000;
  --text-conversation: #000000;
  --text-secondary: #aeaeae;
  --text-disabled: #ffffff;
  --btn-outlined-hover: #000000;

  // components backgrounds
  --bg-primary: #f2f2f2;
  --bg-secondary: #000000;
  --bg-btn-disabled: #aeaeae;
  --bg-slider-rail: #aeaeae;
  --inline-code: #000000;

  // border
  --border-primary: #eeeeee;
}
