.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(250px, 340px) minmax(650px, 1fr) minmax(250px, 340px);

  @media (width >= 2400px) {
    grid-template-columns: minmax(250px, 500px) minmax(650px, 1fr) minmax(250px, 500px);
  }
}
