$white: #ffffff;
$black: #000000;
$curious-blue: #20a5ce;
$picton-blue: #46cce1;
$mercury: #e8e8e8;
$elephant: #0f3249;
$dove-gray: #666666;
$alabaster: #f7f7f7;
$cerulean: #00a7cf;
$gallery: #eaeaea;
$red-light: #eb2a2a;
$green: #18e20e;
