@font-face {
  font-family: InterMedium;
  src: url("../fonts/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: InterBold;
  src: url("../fonts/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: InterExtra;
  src: url("../fonts/Inter-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}
