@font-face {
  font-family: AeonikMedium;
  src: url('../fonts/Aeonik-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: AeonikBold;
  src: url('../fonts//Aeonik-Bold.otf');
  font-weight: 500;
  font-style: normal;
}
