@import "normalize.css/normalize.css";
@import "fonts";
@import "themes/light";
@import "themes/dark";
@import "variables/global";

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-size: 16px;
  font-family: var(--font-family-main);
  font-weight: 500;
}

.app {
  background-color: var(--bg-color-main);
  color: var(--text-primary);
  width: 100%;
  overflow-x: auto;
}

// reset autofill background color for inputs in chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input[type="number"] {
  appearance: textfield;

  // remove arrows in number picker input
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}
