@import 'normalize.css/normalize.css';
@import 'themes/light';
@import 'themes/dark';
@import 'variables/global';

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  color: var(--text-primary);
}

body {
  background-color: var(--bg-color-main);
}

// reset autofill background color for inputs in chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input[type='number'] {
  appearance: textfield;

  // remove arrows in number picker input
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}
